target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

*.class
*.log
*.lock
*.jar
*.war

.idea/
*.iml
*.ipr
*.iws
.classpath
.project
.settings/
.springBeans
.sts4-cache
bin/

.DS_Store
Thumbs.db
ehthumbs.db

logs/
HELP.md